body{
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
}
.wholebody{
    background: url('estate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo{
    padding: 5px;
    width: 17%;
    float: left;
    margin-left: 10%;
}

.nav{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;    
}
li{
    display: inline;
    padding: 13px;
    
}
.navbar{
    width: 30%;
    
    margin-left: 67%;
}
.nav a{
    text-decoration: none;
}
.nav a:hover{
    border-bottom: 2px black solid;
    color: white;
}

.topbar{
    border: solid 1px rgb(0, 0, 0);
    background-color: white;
    margin-bottom: 0;
}
hr{
    width: 90%;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.username, .pwd, .sname, .uname, .email, .fname, .tele{
    font-size: larger;
    padding: 5px;
    
}
input{
    align-self: center;
}
.login{
    width: 100%;
    font-size: larger;
    padding: 5px;
    border-radius: 20px;
}

.aboutme{
    font-size: 11.5em;
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 0px;
    margin: 0 0 0 0;
}

.aboutinfo{
    width: 70%;
    height: auto;
    margin-top:5.8% ;
    margin-left: 10%;
}
.text{
    padding-top: 0px;
    padding-left: 8px;
    margin: 0 0 0 0;
    width: 70%;
}

.contactme{
    font-size: 11.5em;
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 0px;
    margin: 0 0 0 0;
}
.name{
    font-size: 5em;
}
.signup{
width: 100px;
font-size: larger;
padding: 5px;
border-radius: 20px;
}


