body{
    margin: 0 0 0 0;
    height: 100%;
    width: 100%;
}
.wholebody{
    background: url('estate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo{
    padding: 5px;

    width: 17%;
    float: left;
    margin-left: 5%;
}

.nav{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;    
}
li{
    display: inline;
    padding: 13px;
    
}
.navbar{
    width: 45%;
    
    margin-left: 50%;
}
.nav a{
    text-decoration: none;
}
.nav a:hover{
    border-bottom: 2px black solid;
    color: white;
}

.topbar{
    border: solid 1px rgb(255, 255, 255);
    background-color: white;
}
hr{
    width: 90%;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
form{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: solid 1px black;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.username, .pwd{
    font-size: larger;
    padding: 5px;
    
}
input{
    align-self: center;
}
.login{
    width: 100%;
    font-size: larger;
    padding: 5px;
    border-radius: 20px;
}