<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTMS - Manage tenants</title>
    <link rel="stylesheet" href = "base.css" \>
</head>
<body>
    <!--topbar-->
    <div class="topbar">
        <!-- logo-->
        <div class="logo">
            <img src="loogo.png">
        </div>

        <!--nav buttons-->
        <div class="navbar">
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="landlords.html">Landlord</a></li>
                <li><a href="tenants.html">Tenants</a></li>
                <li><a href="Contact.html">Contact</a></li>
                <li><a href="About.html">About</a></li>
            </ul>
        </div>
    </div>

    <!--Side image-->
    <div class="sideimage">
        <img src = "estate.jpg" alt="Houses">
    </div>

    <!--side signup form-->

</body>
</html>