<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTMS - Manage tenants</title>
    <link rel="stylesheet" href = "base.css" \>
</head>
<body>
    <!--topbar-->
    <div class="topbar">
        <!-- logo-->
        <div class="logo">
            <img src="loogo.png">
        </div>

        <!--nav buttons-->
        <div class="navbar">
            <ul class="nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="landlords.html">Landlord</a></li>
                <li><a href="tenants.html">Tenants</a></li>
                <li><a href="Contact.html">Contact</a></li>
                <li><a href="About.html">About</a></li>
            </ul>
        </div>
    </div>

    
    <div class="body">
    <!--Side image-->
    <div class="sideimage">
        <img src = "estate.jpg" alt="Houses">
    </div>

    <!--side signup form-->
    <div class="form">
    <form>
        <h3>Sign in as Landlord</h3>
        <input type="text" name= "username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <p>Forgot password?<a href="forgot.html">Click here</a></a></p>
        <input type="button" name = "login" value = "login">

        <hr>
        <p>Don't have an account><a href="signup">Sign Up</a></a></p>

    </form>
    </div>

    </div>
</body>
</html>