{% extends 'base.html' %}
{% block title %}RTMS - Manage Tenants{% endblock %}

{% block content %}



    
    <div class="form">
    <form method="POST">
        <h3>Sign in</h3>
        <input type="text" name= "username" class = "username" placeholder="Username"><br>
        <p></p>
        <input type="password" name="password" placeholder="Password" class="pwd">
        <p>Forgot password?<a href="forgot.html">Click here</a></a></p>
        <input type="submit" name = "login" value = "Login" class="login">

        <hr>
        <p>Don't have an account?<a href="/signup">Sign Up</a></a></p>
    </form>
    </div>


{% endblock %}