{% extends 'base2.html' %}


{% block content %}


{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}



<form class="signup" method="POST" action="">
    <p>
        <input type="text" name="username" class="uname" placeholder="Username" required>
    </p>
    <p>

        <input type = "text" name = "first_name" class="fname" placeholder="First Name">
    </p>

    <p>
        <input type="text" name="last_name" class="sname" placeholder="Surname">
    </p>

    <p>
        <input type="email" name="pemail" class="email" placeholder="email">

    </p>

    <p>
        <input type="tel" name="telephone" class="tele" placeholder="Telephone" required>
    </p>

    <p>
        <input type="password" name="pwd" class="pwd" placeholder="Password" required>
    </p>

    <input type="submit" name="submit" value="Sign Up" class="signup">
</form>

{% endblock %}