{% extends 'base2.html' %}


{% block content %}



<form class="signup" method="POST" action="">
    <p>
        <input type="text" name="username" class="uname" placeholder="Username" required>
    </p>
    <p>

        <input type = "text" name = "first_name" class="fname" placeholder="First Name">
    </p>

    <p>
        <input type="text" name="last_name" class="sname" placeholder="Surname">
    </p>

    <p>
        <input type="email" name="pemail" class="email" placeholder="Email">

    </p>

    <p>
        <input type="tel" name="telephone" class="tele" placeholder="Telephone" required>
    </p>

    <p>
        <input type="password" name="pwd" class="pwd" placeholder="Password" required>
    </p>

    <p>
        <span>Tenant<input type = "radio" name="client_type" class="radioo" value="tenant"> &nbsp &nbsp Landlord<input type="radio" name="client_type" class="radioo" value="landlord"></span>
    </p>

    <p>
        <input type="submit" name="submit" value="Sign Up" class="signupp">
    </p>
</form>

{% endblock %}